In [1]:
a = []
b = list()
c = [1]
d = ["No", "Pain", "No", "Gain"]
e = [1, 2, "No", "pain"]
f = [1, 2, ["No", "pain"]]

a

[]

In [2]:
b

[]

In [3]:
c

[1]

In [4]:
d

['No', 'Pain', 'No', 'Gain']

In [5]:
e

[1, 2, 'No', 'pain']

In [6]:
f

[1, 2, ['No', 'pain']]

In [7]:
list1 = [1, 3, 5, 7, 9]
len(list1)

5

In [8]:
list1 = [1, 2, 3, 1]
list1.count(1)

2

In [9]:
list1.append(1)
list1

[1, 2, 3, 1, 1]

In [10]:
list1.insert(3, 88)
list1

[1, 2, 3, 88, 1, 1]

In [11]:
list1.remove(1)
list1

[2, 3, 88, 1, 1]

In [12]:
list1.clear()

In [13]:
list1.reverse() # 두ㅣ집기
list1.sort() #오름차순
list1.sort(reverse=True) #내림차순

list1 = [1, 3, 5, 6, 7] #인덱싱
list1[0] + list1[-1]

8

In [14]:
score = {'math' : 90, 'english' : 85}
score

{'math': 90, 'english': 85}

In [15]:
a = {99 : ['apple', 1, 2, 3]} #Value에 리스트도 넣을 수 있음
a

{99: ['apple', 1, 2, 3]}

In [16]:
score['math']

90

In [17]:
score.keys()

dict_keys(['math', 'english'])

In [18]:
tp1 = ()
tp1

()

In [19]:
tp2 = (1, 2, 3)

In [ ]:
tp4 = (1, ) #값이 1개인 튜플 생성 시 뒤에 콤마 필수

In [20]:
s1 = set([1, 2, 3, 4])
s2 = set([5, 6, 1, 2])


s1.intersection(s2) #교집합

{1, 2}

In [21]:
s1.difference(s2) #차집합
s1 - s2 #차집합

{3, 4}

In [23]:
# 문제) (1,2,3) 튜플에 값 4,5를 추가하여 (1,2,3,4,5)를 만들어 출력해 보자.
tuple1 = (1, 2, 3)
tuple2 = tuple1 + (4, 5)
tuple2

(1, 2, 3, 4, 5)

In [27]:
#문제) (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
tuple2 = tuple1 + (4, )
tuple2

(1, 2, 3, 4)

In [28]:
#문제) 딕셔너리 a에서 'b'에 해당되는 값을 추출해 보자.
a = {'a' : 1, 'b' : 2, 'c' : 3}
a['b']

2

In [31]:

#문제) (1,2,3) 튜플에 값 4,5를 추가하여 (1,2,3,4,5)를 만들어 출력해 보자.
a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
a = list(set(a))
a

[1, 2, 3, 4]

In [33]:
#문제) a 리스트에서 'a','b'를 추출해보자. a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[3][:2]

['a', 'b']

In [34]:
pocket = ['money', 'card']
if(pocket):
    print("포켓 안에 무언가 있음")

포켓 안에 무언가 있음

In [35]:
num = int(input("숫자를 입력하세요 : "))
if(num % 2) == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

짝수입니다.

In [39]:
num = int(input("숫자를 입력하세요 : "))

if num == 0:
    print('{}은(는) 0입니다.'.format(num))
elif num < 0:
    print('{}은(는) 음수입니다.'.format(num))
else:
    print('{}은(는) 양수입니다.'.format(num))

-5은 음수입니다.

In [40]:
for i in range(1, 101):
    if(i % 5 == 0):
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [41]:
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다
A = [70, 65, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score

print(total/len(A))

79.5

In [42]:
#물음표 ? 직각삼각형 만들기
for i in range(1, 11):
    print('?'* i)

?
??
???
????
?????
??????
???????
????????
?????????
??????????