In [ ]:
#매개변수 : 함수의 입력으로 전달된 값을 받는 변수
#인수 : 함수를 호출할 때 전달하는 입력값
#return : 함수의 결과 값을 함수 밖에서도 변수로 사용
# *args : 입력값의 개수가 유동적일 때는 for문을 사용

In [1]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end = " ")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [5]:
out = 100
def test(): #매개변수 입력 X
    global out
    #global은 함수밖의 변수를 사용하기 때문에 매개변수 입력필요X
    out += 1
    return out
test()

101

In [6]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해주는 함수를 작성하자
def is_odd(n):
    if(n % 2 != 0):
        return True
    else:
        return False
    
num = int(input("자연수를 입력 : "))
is_odd(num)

False

In [7]:
def numbers_avg(*args): #입력 개수에 상관없이 사용하기 위해 *args 사용
    result = 0
    for i in args:
        result += i
    return result /len(args)

numbers_avg(1, 2, 3, 4 ,5)

3.0

In [9]:
# 예외처리 try, except
#try : 기본 수행 문장들 입력
#except : 문제가 발생하면 수행할 문장 입력
def div(a, b):
    try:
        return a/b
    except ZeroDivisionError:
        return "계산식 표현 불가"
    
div(1, 0)
div(2, 4)

0.5

In [10]:
#enumerate : 반복 가능한 객체의 인덱스와 원소와 함께 접근할 수 있는 함수
#tuple 형태로 반환하며 보통 리스트 구조 데이터 사용
# 몇 번째인지 확인하고자 할 때 주로 사용
list1 = ['a', 'b', 'c']
for x in enumerate(list1):
    print(x)

(0, 'a')
(1, 'b')
(2, 'c')

In [14]:
people = ["김씨", "최씨", "이씨"]
i = 1
for j in people:
    print("번호 : {}, 성 : {}".format(i, j))
    i += 1

번호 : 1, 성 : 김씨
번호 : 2, 성 : 최씨
번호 : 3, 성 : 이씨

In [17]:
x = enumerate(people)
next(x)

(0, '김씨')

In [18]:
zip([1, 2, 3], [4, 5])

In [20]:
list(zip([1, 2, 3], [4, 5]))

[(1, 4), (2, 5)]

In [23]:
a = zip([1, 2, 3], [4, 5, 6], [7, 8, 9])
next(a)

(1, 4, 7)

In [24]:
list(zip([1, 2, 3], [4, 5])) #매칭이 안되는 값 제거

[(1, 4), (2, 5)]

In [25]:
list(zip(['one', 'ttwo'], [1, 2]))

[('one', 1), ('ttwo', 2)]

In [26]:
kor = ["사과", "바나나", "오렌지"]
eng = ['apple', "banana", "orange"]

for a, b in zip(kor, eng):
    print("한글 : {}, 영어 : {}".format(a, b))

한글 : 사과, 영어 : apple
한글 : 바나나, 영어 : banana
한글 : 오렌지, 영어 : orange

In [27]:
#lambda : 함수 생성시 사용하는 예약어로 def와 동일한 역할
def add(a, b):
    return a + b
add(1, 2)

3

In [28]:
add = lambda a, b: a+ b
add(1, 2)

3

In [29]:
#map : for문과 map 함수 비교
a = [1.1, 2.3, 3.5, 4.1]
range(len(a))

range(0, 4)

In [32]:
for i in range(len(a)):
    a[i] = str(a[i])

a

['1.1', '2.3', '3.5', '4.1']

In [33]:
map(str, a)
list(map(str, a))

['1.1', '2.3', '3.5', '4.1']

In [37]:
# 리스트의 각 요소값에 2가 곱해진 리스트를 구하여라
list1 = [1, 2, 3, 4]
list(map(lambda x: x * 2, list1))

[2, 4, 6, 8]

In [39]:
# error 발생 방지
x = 0
try:
    x = int(input("나눌 숫자를 입력하세요 : "))
    y = 100 / x
    print(y)
except ZeroDivisionError:
    print("예외가 발생했습니다.")

100.0

In [40]:
import random
random.random() #0~ 1

0.210272577135739

In [42]:
random.randrange(1, 7) #수행할때마다 다른 숫자를 랜덤으로 반환

6

In [45]:
lotto = [0, 0, 0, 0, 0, 0]
lotto[0] = random.randrange(1, 46)
lotto[1] = random.randrange(1, 46)
lotto[2] = random.randrange(1, 46)
lotto[3] = random.randrange(1, 46)
lotto[4] = random.randrange(1, 46)
lotto[5] = random.randrange(1, 46)

lotto.sort()

print("Lotto 당첨 번호입니다.")
print('=' * 25)
print(lotto)

Lotto 당첨 번호입니다.
=========================
[5, 11, 12, 35, 44, 44]

In [49]:
num = int(input("Lotto 게임 수를 입력하시오 : "))
print("Lotto 당첨 번호입니다.")
print('=' * 25)
print(lotto)

for x in range(1, num): 
    lotto = [0, 0, 0, 0, 0, 0]
    lotto[0] = random.randrange(1, 46)
    lotto[1] = lotto[0]
    lotto[2] = lotto[0]
    lotto[3] = lotto[0]
    lotto[4] = lotto[0]
    lotto[5] = lotto[0]


    while(lotto[1] == lotto[0]):
        lotto[1] = random.randrange(1, 46)

    while(lotto[2] == lotto[0] or lotto[2] == lotto[1]):
        lotto[2] = random.randrange(1, 46)

    while(lotto[3] == lotto[0] or lotto[3] == lotto[1] or lotto[3] == lotto[2]):
        lotto[3] = random.randrange(1, 46)

    while(lotto[4] == lotto[0] or lotto[4] == lotto[1] or lotto[4] == lotto[2] or lotto[4] == lotto[3]):
        lotto[4] = random.randrange(1, 46)
    
    while(lotto[5] == lotto[0] or lotto[5] == lotto[1] or lotto[5] == lotto[2] or lotto[5] == lotto[3] or lotto[5] == lotto[4]):
        lotto[5] = random.randrange(1, 46)


    lotto.sort()
    print(lotto)

Lotto 당첨 번호입니다.
=========================
[14, 15, 21, 30, 34, 43]
[7, 17, 20, 38, 40, 45]
[1, 8, 14, 21, 25, 27]

In [56]:
#Resident Registration Numbr
RRN = '80123122222'

birth_year = RRN[0:2]
birth_month = RRN[2:4]
birth_day = RRN[4:6]

'80'

In [57]:
id_sex = RRN[6]
id_local = RRN[7:9]

In [65]:
# Resident Registration Number
# RRN = input('주민번호를 입력하시오. : ')
RRN = '8012312222222'
# 생년, 월, 일 변수 설정
birth_year = RRN[0:2]
birth_month = RRN[2:4]
birth_day = RRN[4:6]
id_sex = int(RRN[6])
local = int(RRN[7:9])


if(id_sex >= 5 and id_sex< 9):
    nation = "외국인"
else:
    nation = "내국인"

#성별 탐색
if (id_sex %2 == 0):
    sex = "여성"
else:
    sex = "남성"


# 지역 탐색
if 0 <= id_local <= 8:
    local = '서울특별시'

elif 9 <= id_local <= 12:
    local = '부산광역시'

elif 13 <= id_local <= 15:
    local = '인천광역시'

elif 16 <= id_local <= 25:
    ocal = '경기도'

elif 26 <= id_local <= 34:
    local = '강원도'

elif 35 <= id_local <= 39:
    local = '충청북도'

elif 40 == id_local:
    local = '대전광역시'

elif 41 <= id_local <= 43 or 45 <= id_local <= 47:
    local = '충청남도'

elif id_local == 44 or id_local == 96:
    local = '세종특별자치시'

elif 48 <= id_local <= 54:
    local = '전라북도'

elif 55 <= id_local <= 66:
    local = '전라남도'

elif 65 <= id_local <= 66:
    local = '광주광역시'

elif 67 <= id_local <= 70:
    local = '대구광역시'

elif 71 <= id_local <= 81:
    local = '경상북도'

elif 82 <= id_local <= 84 or 86 <= id_local <= 89 or id_local == 91 :
    local = '경상남도'

elif id_local == 85 or id_local == 90:
    local = '울산광역시'

else:
    local = '제주특별자치도'
print('생년월일 : ' + birth_year + '년 ' + birth_month + '월 ' + birth_day + '일')
print('성별\t : ' + sex)
print('출생지역 : ' + local)
# 주민등록번호 유효성 검증


mul_numbers = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
total_number = 0

for i in range(len(mul_numbers)):
    total_number = total_number + int(RRN[i]) * mul_numbers[i]
# i = 0일 때, 2 = 0 + 1 * 2
# i = 1일 때, 8 = 2 + 2 * 3
# 11- (총 합계에서 11을 나눈 나머지)
value = 11 - (total_number % 11)
# 10이 나오면 0 11이 나오면 1로 간주
if 10 <= value <= 11:
    value = value -10
else:
    value
if str(value) == RRN[-1]:
    print('유효한 주민번호입니다.')
else:
    print('유효하지 않은 주민번호입니다.')

생년월일 : 80년 12월 31일
성별	 : 여성

TypeError: can only concatenate str (not "int") to str